<% content_for :content do %>

  <h3><%= @subsection.name %></h3>
  <%  if @logged_in %>
        <%= link_to 'Edit', edit_section_subsection_path(:section_id => @section, :id => @subsection) %>
  <%  end%>
  <div class="subsection_content">
    <%= @subsection.content %>
  </div>
  
<% end %>
